:root {
    --bg-primary: #222;
    --bg-secondary: #444;
    --bg-tertiary: #555;
    --bg-editable: #222822;
    --bg-hover: #262626;
    --text-primary: #bbb;
    --text-white: #fff;
    --accent: #3fa883;
    --accent-hover: #318b5b;
    --action: #6f77d6;
    --action-hover: #5d68dc;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
    font-family: monospace,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans Mono",
    "Helvetica Neue",
    sans-serif;
    color: var(--text-primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

select,
textarea,
body {
    background-color: var(--bg-primary);
}

#main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    max-width: 700px;
}

a, li {
    cursor: pointer;
}

li:hover,
a:hover {
    opacity: 0.8;
}

.hidden {
    display: none !important;
}

.hided {
    opacity: 0 !important;
    visibility: hidden !important;
}

#book,
#chapter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px
}


#book-gutter,
#chapter-gutter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: var(--bg-secondary);
    z-index: 9999;
    cursor: col-resize;
    user-select: none;
}


.title {
    padding: 20px;
    font-size: 28px;
    color: var(--accent);
    text-align: center;
}

h1 {
    outline: none;
    border: none;
}

h1:empty::before {
    content: "Название книги";
    opacity: 0.5;
    color: var(--text-primary);
}

button {
    display: flex;
    cursor: pointer;
    align-items: center;
}

#upload {
    display: block;
}

article {
    position: relative;
}

svg {
    background: transparent;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: transparent;
}


.top-left {
    position: fixed;
    left: 0;
    top: 0;
}

.up-right {
    position: absolute;
    top: -8px;
    right: 0;
}

#to-left,
#to-right {
    display: none;
}

.icon {
    background: transparent;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    stroke: var(--action);
    z-index: 1000;
}

.icon:hover {
    transform: scale(1.1);
    stroke: var(--action-hover);
}

#erase {
    display: none;
}

#title {
    margin-top: -32px;
}

.header {
    color: var(--text-white);
    font-size: 20px;
}

#chapter p {
    user-select: text;
    padding: 20px;
    outline: none;
}

#chapters {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}


div {
    position: relative;
}


#chapter p.editable {
    background: var(--bg-editable);
}

.button {
    padding: 16px 32px;
    font-size: 1.1rem;
    background: var(--accent);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background: var(--accent-hover);
    transform: scale(1.01);
}


.round:hover {
    background: var(--accent-hover);
    transform: scale(1.1);
}

.round:active {
    transform: scale(0.95);
}

p {
    height: 100%;
}

p:empty:hover {
    background: var(--bg-hover);
}

p:empty {
    cursor: pointer;
}

p:empty:hover::before {
    content: "...";
    opacity: 0.3;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
select {
    width: 100%;
    outline: none;
    vertical-align: middle;
}


ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

li {
    counter-increment: item;
    margin-top: 12px;
}

li::before {
    content: counter(item) " ";
    color: var(--accent-hover);
    font-size: 0.85em;
    font-weight: normal;
    display: inline-block;
    text-align: right;
    width: 2.5rem;
    padding-right: 0.5rem;
    margin-left: -0.5rem;
}


@media (max-width: 500px) {
    #book,
    #chapter {
        display: flex;
        flex-direction: column;
    }

    #to-left,
    #to-right {
        display: inherit;
    }

    .right,
    #book-gutter,
    #chapter-gutter {
        display: none;
    }
}


